
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by Casey Murphy</p>
  </div>
</div>
<script src="/js/changeColor.js"></script>
<script src="/js/hideCompose.js"></script>
<script src="/js/sortTest.js"></script>
</body>
</html>
