
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by Casey Murphy</p>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/changeColor.js"></script>
<script src="/js/hideCompose.js"></script>
<script src="/js/topicError.js"></script>
</body>
</html>
