<%- include("partials/header"); -%>

<div class="container-fluid border-gradient">

    <h1 class="home-title">About</h1>

    <div id="feature-content ">

    <div class="feature-paragraph">

     <p> I'm Casey the developer and I am fairly forgetful. Life Note was created to help organize my life. 
         My wife and I welcomed our first child in 2021 and managing the day to day can be stressful. I wanted 
         to create an app that allowed me to save notes about different interests or people. Whether that be 
         people, sports or video games. You can also edit and search your notes to make needed updates.
         I hope you enjoy using the app and it helps keep you orgainzed!</p>

        </div>
    
    </div>

</div>

<%- include("partials/footer"); -%>
