<%- include("partials/header"); -%>

<h1>Create Your Topics!</h1>

<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</div>

<h3>Welcome to LifeNote!</h3>
<p>This app will help you remember everything in your life.</p>
<p>First create a topic you would like to focus on. For example a topic can be about the people in your life.</p>
<p>Don't worry you will be able to create more topics later on.</p>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /createTopics route -->
          <form action="/createTopic" method="POST">
            <div class="form-group">
              <label for="firstTopic">First Topic</label>
              <input type="text" class="form-control" name="firstTopic" placeholder="People">
            </div>
        
            <button type="submit" class="btn btn-dark">Confirm</button>
          </form>

          <p>The next step will be to create your first post about this topic! Click confirm to continue.</p>

        </div>
      </div>
    </div>

<%- include("partials/footer"); -%>