<%- include("partials/header"); -%>

<h1>Create Your Topics!</h1>

<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</div>

<h3>Welcome to LifeNote!</h3>
<p>This app will help you remember everything in your life.</p>
<p>First create a post you would like to focus on. For example a recipe you want to remember.</p>
<p>Don't worry you will be able to create more posts later on.</p>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /createTopics route -->
          <form action="/createPost" method="POST">
            <div class="form-group">
              <label for="firstPost">First Post</label>
              <input type="text" class="form-control" name="firstPostTitle" placeholder="Recipes">
            </div>
            <label>Post</label>
            <textarea class="form-control" name="firstPostBody" rows="5" cols="30" placeholder="What do you want to remember for later?"></textarea>
          </div>
        
            <button type="submit" class="btn btn-dark">Confirm</button>
          </form>

          <p>Click confirm to continue.</p>

        </div>
      </div>
    </div>

<%- include("partials/footer"); -%>