<%- include("partials/headerAuthed"); -%>


<div class="row">
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">

        <h3>Change Your Password</h3>

        <!-- Makes POST request to /editProfile route -->
        <form action="/editProfile" method="POST">
          <div class="form-group">
            <label for="password">Current Password</label>
            <input type="password" class="form-control" name="currentPassword" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="password">New Password</label>
            <input id="newPassword" type="password" class="form-control" name="newPassword" autocomplete="off">
          </div>
          <button id="changePassBtn" type="submit" class="btn btn-dark">Change Password</button>
        </form>

      </div>
    </div>
  </div>
</div>

<div><a class="btn btn-light btn-lg" href="/userHome" role="button">Back</a></div>


<%- include("partials/footer"); -%>