<%- include("partials/header"); -%>
    <h1>Features</h1>

    <h2>Create An Account</h2>
    <p>Life Note allows users to create their own account to create notes about their life. Once an account it created, the user 
      can then login back in the future. Only users with accounts can utilize Life Note. 
    </p>

    <h2>Organize Your Life</h2>
    <p>Creating notes makes things easier, especially if you have many interests! Jot down notes about important dates or people in in your life.
      Want to learn something new? Make notes to assist in your progress. Update the notes if needed!
    </p>

    <h2>Customize!</h2>
    <p>Life Note allows the user to change the colors of their profiles. Make it your own!</p>

    
<%- include("partials/footer"); -%>
