<%- include("partials/header"); -%>

<div id="feature-section" class="container-fluid border-gradient">

    <h1 class="home-title">Features</h1>

    <div id="feature-content">

    <div class="feature-paragraph">

      <h2 class="feature-title">Create An Account</h2>
      <p>Life Note allows users to create their own account to create notes about their life. Once an account it created, the user 
        can then login back in the future. Only users with accounts can utilize Life Note. 
      </p>

    </div>

    <div class="feature-paragraph">
      <h2 class="feature-title">Organize Your Life</h2>
      <p>Creating notes makes things easier, especially if you have many interests! Jot down notes about important dates or people in in your life.
        Want to learn something new? Make notes to assist in your progress. Update the notes if needed!
      </p>
    </div>

  </div>
    
 
</div>
<%- include("partials/footer"); -%>
