<%- include("partials/header"); -%>

<h1>Welcome!</h1>

<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

  <h2><%= title%></h2>
  <p><%= content %></p>

</div>


 
    
<%- include("partials/footer"); -%>
