<%- include("partials/header"); -%>

<h1>What Do You Want to Remember?</h1>

<div>

  <li><a href="/editProfile">Edit Your Profile</a></li>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

</div>

<%  topicsForPage.forEach(function(topic) { %>

  <h4><a href="/post"><%=topic.title%></a></h4>

    <% }) %>



<%- include("partials/footer"); -%>