
<%- include("partials/headerAuthed"); -%>
    <h1>Compose</h1>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/editProfile">Edit Profile</a>
        <a class="dropdown-item" href="/logout">Log Out</a>
      </div>
    </div>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    
    <form class="" action="/compose" method="post">
      <div class="form-group">

         <label>Title</label>
        <input placeholder="Give it a catchy title!" class="form-control" type="text" name="noteTitle">
       
        <label>Note</label>
        <textarea class="form-control" name="noteBody" rows="5" cols="30" placeholder="What do you want to remember for later?"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Create</button>
    </form>

    <div><a class="btn btn-light btn-lg" href="/userHome" role="button">Back</a></div>

<%- include("partials/footer"); -%>
